body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/images/CandleChart.jpeg');
  background-repeat: repeat-y;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-orange: rgba(226,108,43, 1);
  --background-trans-orange: rgba(226,108,43, .5);
  --background_1: #9dd2fa;
  --background_2: #0180ff;
  --background_3: #003ab4;
  --very_light_blue: #9dd2fa;
  --blue: #0181ff;
  --dark_blue: #003ab4;
}